.spinner {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}

.spinner-small {
    width: 50px !important;
    height: 50px !important;
}

.spinner-small .spinner-ring {
    width: 50px;
    height: 50px;
    border-width: 3px;
}

.spinner-medium {
    width: 80px !important;
    height: 80px !important;
}

.spinner-medium .spinner-ring {
    width: 80px;
    height: 80px;
    border-width: 4px;
}

.spinner-large {
    width: 120px !important;
    height: 120px !important;
}

.spinner-large .spinner-ring {
    width: 120px;
    height: 120px;
    border-width: 5px;
}

.spinner-ring {
    box-sizing: border-box;
    position: absolute;
    width: 80px;
    height: 80px;
    margin: 8px auto;
    border: 6px solid transparent;
    border-radius: 50%;
    animation: spin-rainbow 3s linear infinite;
}

.spinner-ring:nth-child(1) {
    width: 80px;
    height: 80px;
    border-image: linear-gradient(45deg, #ff006e, #fb5607, #ffbe0b, #8338ec) 1;
    animation: spin 3s linear infinite;
}

.spinner-ring:nth-child(2) {
    width: 65px;
    height: 65px;
    margin: 15px auto;
    border-image: linear-gradient(135deg, #fb5607, #ffbe0b, #8338ec, #ff006e) 1;
    animation: spin 3s linear infinite reverse;
}

.spinner-ring:nth-child(3) {
    width: 50px;
    height: 50px;
    margin: 30px auto;
    border-image: linear-gradient(225deg, #ffbe0b, #8338ec, #ff006e, #fb5607) 1;
    animation: spin 3s linear infinite;
}

.spinner-ring:nth-child(4) {
    width: 35px;
    height: 35px;
    margin: 45px auto;
    border-image: linear-gradient(315deg, #8338ec, #ff006e, #fb5607, #ffbe0b) 1;
    animation: spin 3s linear infinite reverse;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Smooth fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.spinner {
    animation: fadeIn 0.3s ease-in-out;
}
